<div class="ngdialog-message" id="user_dialog">
    <div class="dFlex ud_wp">
        <div class="ud_left">
            <div class="ud_entitle">{{dUser.first_name}} {{dUser.last_name}}</div>
            <div class="ud_hebtitle">{{dUser.hname}}</div>
            <hr class="ud_hr">
            <div class="ud_txt">{{dUser.dtext}}</div>
            <div class="ud_bottom">
                <div class="ud_date">{{dUser.greg_date}}</div>
                <div class="ud_hebdate">{{dUser.hebrew_date}}</div>
                <div class="ud_tn">ת.נ.צ.ב.ה</div>
                <div class="ud_share">Share the memory</div>
            </div>
        </div>
        <div class="ud_right">
            <div class="ud_imgDV">
                <img src="" data-ng-src="{{dUser.dimg}}" class="ud-img">
            </div>
        </div>
    </div>
</div>
