<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row 

        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                </div>
            </div>
        </div>-->
        <!-- /.row 

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <div>New Tasks!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>New Orders!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">13</div>
                                <div>Support Tickets!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>-->
        <!-- /.row -->

        <div class="row">            
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Waiting Authorized Cards</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>id #</th>
                                        <th>Name</th>
                                        <th>Hebrew name</th>
                                        <th>Pass date</th>
                                        <th>Picture</th>
                                        <th>Is OK? <button ng-click="authAllChk();" class="btn green-btn">OK</button> <button ng-click="removeCards();" class="btn red-btn">RMV</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="wa in waitingAuth" id="tdWa_{{wa.id}}">
                                        <td>{{wa.id}}</td>
                                        <td>{{wa.first_name}} {{wa.last_name}}</td>
                                        <td>{{wa.hname}}</td>
                                        <td>{{wa.theDate}}</td>
                                        <td><img src="{{wa.dimg}}" width=100 ></td>
                                        <td>
                                            <input type="checkbox" class='okChk' name="ok_{{wa.id}}" id="ok_{{wa.id}}">
                                            <a href="/d/d.php?id={{wa.id}}" target="_blank">view page</a> / 
                                            <a href="/#/edit/{{wa.id}}" target="_blank">edit</a> / 
                                            <a href="javascript:void(0)" ng-click="sendMailToDonor(wa.email);">{{wa.email}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <a href="#/all-cards">View All Cards <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Last Donations</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Payment status</th>
                                        <th>Donate to</th>
                                        <th>Payment Method</th>
                                        <th>Transaction ID</th>
                                        <th>Suggested donation</th>
                                        <th>Amount $</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="donor in lastDonations">
                                        <td>{{donor.cdate}}</td>
                                        <td>{{donor.fname}} {{donor.lname}}</td>
                                        <td>{{donor.email}}</td>
                                        <td>{{donor.payment_status}}</td>
                                        <td>{{donor.donation_type}}</td>
                                        <td>{{donor.payment_method}}</td>
                                        <td>{{donor.transaction_id}}</td>
                                        <td>{{donor.suggested_donation}}</td>
                                        <td>{{donor.payment_amount}}</td>
                                        <td>
                                            <a href="javascript:void(0)" ng-click="sendMailToDonor(donor.email);">send mail</a>
<!--                                            <a href="{{donor.payment_detail_url}}" target="_blank">details</a>
                                            <a href="{{donor.refund_url}}" target="_blank">refund</a>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <a href="#/all-donors">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->