<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    All Donors
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="#/">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> All Donors
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>All Donors</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rep in report">
                            <td>{{rep.name}}</td>
                            <td>{{rep.quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>    